$bWidth
  center($mainWidth,pad:0)
  
.b-btn    
  border none
  border-radius 30px  
  background rgba(0,0,0,0.3)
  background-color: rgba(0, 0, 0,0.102);
  outline none
  color #f5f5f5
  





.l-main
  position relative
  height 1070px
  background url('../images/bg/bg-main.jpg') no-repeat 50% #4A56BC
.b-main
  @extend $bWidth
  height inherit
  ///header
  &__header
    overflow auto
    
    &_logo
      float left
      width 30%
      margin-top 80px
      color #f5f5f5
      font-size 28px
      text-decoration none
      font-family stolzl
      font-weight lighter
      
    &_nav
      float left
      width 40%
      margin-top 86px
    &_path
      col(1/3,cycle:3)
      text-align center
      color #f5f5f5
      text-decoration none
      font-size 14px
      font-weight 300
    &_call
      float left
      width 30%
      margin-top 45px
    &_tel
      color #f5f5f5
      margin 0
      text-align center
      font-weight 300
      font-size 28px
    &_btn
      display block
      margin 20px auto 0      
      border-radius 30px
      width 220px
      height 50px
      
  ////description
  &__description
    color #f5f5f5
    margin-top 160px
    text-align center
    font-size 58px
    font-weight 400
  &__delivery
    color #f5f5f5
    text-align center    
    font-size 24px
    
  /////stock
  &__stock
    margin-top 150px
    &_title
      color #f5f5f5
      font-size 64px
      text-align center
      margin-top 0
      margin-bottom 40px
    &_offer
      margin-top 0
      color #f5f5f5
      font-size 28px
      text-align center
    &_form
      width 950px
      height 120px
      border-radius 120px      
      background-color rgba(0, 0, 0,0.202)
      margin 0 auto
      padding 25px 20px
      color #f5f5f5 
      font-size 14px
    &_input
      col(1/3,cycle:3)
      outline none      
      border-radius 30px
      border none  
      background-color rgba(255, 255, 255, 0.051)      
      height 66px
      padding-left 20px
      color inherit
      font-size inherit
    &_btn
      col(1/3,cycle:3)
      text-align center
      height 66px
      border-radius 30px
      color inherit
      font-size 24px
      background #fe887c
      
      


      