@import 'jeet'
@import 'config'
@import 'mixins'

@import '../../../node_modules/normalize.css/normalize.css'


// edit()

@font-face {
  font-family: Stolzl; 
  src: url(../fonts/Stolzl-regular.otf); 
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Stolzl; 
  src: url(../fonts/Stolzl-bold.otf); 
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Stolzl; 
  src: url(../fonts/Stolzl-light.otf); 
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Stolzl; 
  src: url(../fonts/Stolzl-thin.otf); 
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Stolzl; 
  src: url(../fonts/Stolzl-medium.otf); 
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: book; 
  src: url(../fonts/Stolzl-book.otf); 
  font-weight: 300;
  
  
}
html
  box-sizing border-box
  min-width $mainWidth
  background-color #fff
  font-size $baseFontSize

body
  font-family 'stolzl', sans-serif


	


*,
*:before,
*:after
  box-sizing inherit